.page.theme_dark {
  --background-image: url("../images/cover-image-dark.png");
  --accent-color: #ff0070;
  --accent-color-opacity: #ff007066;
  --text-color: #f1b2ce;
  --decoration-color: var(--accent-color);
  --background-color: #000028;
  --main-header-color: #db00ff;
  --sub-header-color: var(--accent-color);
  --section-header-color: var(--background-color);
  --is-light: visible;
}
