.page.theme_light {
  --background-image: url("../images/cover-image-light.png");
  --accent-color: #ff8dcb;
  --accent-color-opacity: #32312d66;
  --text-color: #353430;
  --decoration-color: var(--text-color);
  --background-color: #fff1f7;
  --main-header-color: #ffc2e6;
  --sub-header-color: var(--text-color);
  --section-header-color: var(--text-color);
  --is-light: hidden;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-image: url("../images/cover-image-light.png");
    --accent-color: #ff8dcb;
    --accent-color-opacity: #32312d66;
    --text-color: #353430;
    --decoration-color: var(--text-color);
    --background-color: #fff1f7;
    --main-header-color: #ffc2e6;
    --sub-header-color: var(--text-color);
    --section-header-color: var(--text-color);
    --is-light: hidden;
  }
}
